.itemDivmail{
    border-width: 1px;
    border: solid;
    margin-top: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}
.gap{
    margin-left: 5rem;
}
.unread{
    color: rgb(0, 106, 255);
    font-size: 30px;
}
.read{
    color: transparent;
    font-size: 30px;
}